<%- include("partials/header.ejs")  %>

<section id="compose" class="section container">
    <h1 class="tag">Compose</h1>
    <form action="/compose" method="POST" class="compose">
        <input type="text"  name="day" class="date input"  value = "<%= date  %>, <%= month  %>, <%= year  %>">
        <input type="text" name="title" class="title input" placeholder="Title" required>
        <textarea id="wide-text" name="input" class="input" rows="5" cols="40" required placeholder="Enter your thoughts"></textarea>
        <input type="submit" class="btn" value="Publish"/>
    </form>
</section>


<%- include("partials/footer.ejs")  %>