<%- include("partials/header.ejs")  %>

<section id="home" class="section container">
    <h1 class="tag">Home</h1>
    <p class="content">
       <%= homeContent %>
    </p>
</section>

<section id="posts" class="section container">
   <%    posts.slice().reverse().forEach((post, id)=>{  %>
      <hr/> <br/>
      <h3 class="content day"><%= post.day %> <%= post.time  %></h3>
      <h1 class="subtag inputTitle"><%= post.title %></h1><br>
   <p class="content">
       <%= post.content.slice(0,97)+"..." %> <a href="/posts/<%= posts.length - 1 - id %>">Read More</a>
   </p>
   <%    }) %>
   
   </section>
</main>


<%- include("partials/footer.ejs")  %>
