<%- include("partials/header.ejs")  %>

<section id="home" class="section container">
    <h1 class="tag">Home</h1>
    <p class="content">
       <%= homeContent %>
    </p>
</section>

<section id="posts" class="section container">
   <%    posts.forEach((post)=>{  %>
      <h1 class="subtag inputTitle"><%= post.title %></h1>
   <h3 class="day"><%= post.day %></h3>
   <p class="content">
       <%= post.input %>
   </p>
   <%    }) %>
   
   </section>
</main>


<%- include("partials/footer.ejs")  %>