
<%- include("partials/header.ejs")  %>
<section id="inidividual" class="section container">
    <h1 class="tag inputTitle"><%= title %></h1>
    <h3 class="day"><%= day %></h3>
    <p class="content">
        <%= content  %>
    </p>
</section>
<%- include("partials/footer.ejs")  %>