
<%- include("partials/header.ejs")  %>
<section id=" inidividual" class="section container">
    <h3 class="tag day"><%= day %></h3><br>
    <h1 class=" inputTitle"><%= title %></h1><br>
    <p class="content">
        <%= content  %>
    </p>
</section>
<%- include("partials/footer.ejs")  %>